* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none; }

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  z-index: 1; }

main .imgfondo {
  position: fixed;
  height: auto;
  opacity: 1; }

.header {
  display: flex;
  flex-direction: row;
  background-color: white;
  flex: auto;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  z-index: 10;
  height: 5rem;
  margin-top: -5rem;
  position: fixed;
  border-color: 5px;
  color: black; }
  .header .imagen {
    width: auto;
    height: 4rem;
    align-items: center;
    margin-left: 2rem; }
    .header .imagen img {
      width: auto;
      height: 100%; }
    .header .imagen .logoh {
      display: none; }
  .header .header__pages {
    margin: 0;
    height: 4rem; }
    .header .header__pages nav {
      display: flex;
      flex-direction: row;
      font-size: 12px;
      margin-right: 2rem; }
      .header .header__pages nav li a {
        padding: 4px;
        color: black;
        text-decoration: none; }

.header__nav {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  margin-top: 2rem; }
  .header__nav .nav__button {
    background-color: grey;
    border-radius: 5px;
    text-decoration: none; }
  .header__nav li a:hover {
    font-weight: 12px;
    background-color: linen;
    color: black;
    border-radius: 5px; }

.btn-open-sidebar {
  display: none; }

.btn-close-sidebar {
  display: none; }

.header__pages {
  margin: 0; }

.presentacion {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: linen;
  box-shadow: 5px 10px 10px rgba(188, 195, 204, 0.8);
  border-radius: 5px;
  text-align: center;
  width: 90%;
  opacity: 0.7;
  max-width: 1100px;
  padding: 1rem;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 5rem; }

.presentacion__titulo {
  color: black;
  opacity: 1;
  font-size: 22px;
  z-index: 10;
  margin: 1rem 0; }

.presentacion__parrafo {
  color: black;
  font-size: 12px;
  line-height: 1.5;
  opacity: 1; }

.presentacion__imagen {
  width: 75%;
  height: auto;
  opacity: 1; }

.galeriaInicio {
  background-color: linen;
  box-shadow: 5px 10px 10px rgba(188, 195, 204, 0.8);
  border-radius: 5px;
  text-align: center;
  width: 90%;
  opacity: 0.7;
  max-width: 1100px;
  padding: 1rem;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  margin-bottom: 2rem; }

.titulogaleriainicio {
  color: black; }

.container {
  width: 80%; }

.proveedor1 {
  display: flex;
  flex-direction: row;
  background-color: linen;
  box-shadow: 5px 10px 10px rgba(188, 195, 204, 0.8);
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  width: 95%;
  max-width: 1100px;
  height: 350px;
  padding: 2rem;
  position: relative; }

.proveedor1__item {
  color: black;
  width: 95%;
  justify-content: space-around;
  margin: auto;
  max-height: 100%; }

.proveedor1__item img {
  width: 95%;
  max-height: 95%; }

.proveedor2 {
  display: flex;
  flex-direction: row;
  background-color: linen;
  box-shadow: 5px 10px 10px rgba(188, 195, 204, 0.8);
  border-radius: 5px;
  text-align: center;
  margin: 1rem auto;
  width: 95%;
  max-width: 1100px;
  height: 350px;
  padding: 2rem; }

.proveedor2__item {
  color: black;
  width: 95%;
  justify-content: center;
  margin: auto;
  object-fit: cover;
  max-height: 90%; }

.proveedor2__item img {
  width: 95%;
  height: 95%;
  object-fit: contain; }

.fabricacion {
  background-color: linen;
  box-shadow: 5px 10px 10px rgba(188, 195, 204, 0.8);
  border-radius: 5px;
  text-align: center;
  width: 90%;
  opacity: 0.7;
  max-width: 1100px;
  padding: 2rem;
  margin: 0 auto;
  padding: 2rem;
  margin-bottom: 1rem;
  color: black; }

.generos {
  text-align: center;
  justify-content: center;
  color: black; }

.articulos1 {
  background-color: linen;
  box-shadow: 5px 10px 10px rgba(188, 195, 204, 0.8);
  border-radius: 5px;
  text-align: center;
  width: 90%;
  opacity: 0.7;
  max-width: 1100px;
  padding: 2rem;
  margin: 0 auto;
  padding: 2rem; }

.tinto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  padding: 2rem;
  grid-template-areas: "img3 texto1 img1" "img2 texto2";
  background-color: linen;
  box-shadow: 5px 10px 10px rgba(188, 195, 204, 0.8);
  border-radius: 5px;
  text-align: center;
  width: 90%;
  opacity: 0.7;
  max-width: 1100px;
  padding: 1rem;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  margin-top: 1rem; }

.tinto__item {
  width: 100%; }

.titulo {
  background-color: linen;
  box-shadow: 5px 10px 10px rgba(188, 195, 204, 0.8);
  border-radius: 5px;
  text-align: center;
  width: 90%;
  opacity: 0.7;
  max-width: 1100px;
  padding: 1rem;
  margin: 0 auto;
  padding: 2rem;
  color: black; }

.form {
  position: absolute;
  align-items: center;
  text-align: center;
  color: black;
  background-color: linen;
  box-shadow: 5px 10px 10px rgba(188, 195, 204, 0.8);
  border-radius: 5px;
  text-align: center;
  width: 90%;
  opacity: 0.7;
  max-width: 1100px;
  padding: 1rem;
  margin: 0 auto;
  padding: 2rem;
  position: relative; }

footer {
  background-color: white;
  z-index: 100; }

/* tablet */
@media screen and (max-width: 1024px) {
  .presentacion {
    flex-direction: column; }
  /* mobile */ }

@media screen and (max-width: 1024px) and (max-width: 600px) {
  .header__nav {
    background-color: linen;
    width: 80%;
    max-width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    padding: 6rem;
    transition: transform 0.5s;
    z-index: 100;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px; }
  .header .imagen {
    align-items: baseline;
    height: 60%; }
    .header .imagen .logov {
      display: none; }
    .header .imagen .logoh {
      display: block;
      height: 100%; }
  .header__nav li a {
    background-color: linen;
    padding: 4px;
    color: linen;
    margin-top: 1px;
    text-decoration: none;
    margin: 0 auto;
    border-radius: 5px; }
  .btn-open-sidebar {
    display: inline-block;
    color: black;
    width: 30px;
    margin-top: 2rem; }
  #sidebar:target {
    transform: translateX(0); }
  .btn-close-sidebar {
    display: block;
    width: 1.4rem; }
  .nav__button {
    background-color: black;
    color: black;
    margin: 0 auto;
    height: 18px; } }
