body {
    font-family: 'Poppins', sans-serif;
       margin: 0;
       z-index: 1;
    
       
}
main{
     .imgfondo {
          position: fixed;
          height: auto;
          opacity: $opacity;
     }
}