.fabricacion {
    @include section (1100px, 2rem);
    margin-bottom: 1rem;
    color: $fcolor;
}
.generos {
    text-align: center;
    justify-content: center;
    color: $fcolor;
}

.articulos1 {
    @include section (1100px, 2rem);  
} 