@mixin sectionsizes($width, $max-width, $Padding, $margin) {
    width: $width;
    max-width: $max-width;
    padding: $Padding;
    margin: $margin;
}
.presentacion {
    display: flex;
    flex-direction: row;

    position: relative;
    @include section (1100px, 1rem);
}
.presentacion__titulo {
    color: linen;
    font-size: 22px;

    margin: 1rem 0;
} 
.presentacion__parrafo {
    color: azure;
    font-size: 12px;
    line-height: 1.5;

}
.presentacion__imagen {
    width: 75%;
    height: auto;
}
.galeriaInicio {

    margin-bottom: 2rem;
    @include section (1100px, 1rem);
    position: relative;
}

.titulogaleriainicio {
    color: azure;
}
.container{
    width: 80%;
}