
// mixin section aplicado solo en inicio
@mixin section ( $max-width, $Padding) {
    background-color: $csection;
    border-radius: 5px;
    text-align: center;
    width: 90%;
    opacity: 1;
    max-width: $max-width;
    padding: $Padding;
    margin: 0 auto;
    padding: 2rem;
    position: relative;
}

