
// mixin section aplicado solo en inicio
@mixin section ( $max-width, $Padding) {
    background-color: $csection;
    box-shadow: 5px 10px 10px rgba(188, 195, 204, 0.8);
    border-radius: 5px;
    text-align: center;
    width: 90%;
    opacity: 0.7;
    max-width: $max-width;
    padding: $Padding;
    margin: 0 auto;
    padding: 2rem;
}

