
.titulo {
    @include titulos
}
.proveedor1 {
    display: flex;
    flex-direction: row;
    @include section (1000px, 0rem);
    margin-top: 5rem;
    z-index: 3;
    justify-content: space-around;
    
    .item { 
        color: $fcolor;
        width: 100%;
        justify-content: space-around;
        margin: auto;
        max-height: 350px;
        
    }   
    .hilado{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
        div {
            padding: 10px;
            
            img {
            width: 100%;
            border-radius: 5px;
            border-color: black;
            border-width: 2px;
            border-style: solid;
            }
        }
    }
   


}



.proveedor2 {
    display: flex;
    flex-direction: row;
    height: 350px;
    @include section (1000,0);
    align-items: center;
    
    
    .item {
        color:$fcolor;
        width: 50%;
        justify-content: center;
        margin: auto;
        object-fit: cover;
        max-height: 90%;
        padding: 5px;
        
    }
    .img {
        width: 50%;
        padding: 5px;
        img{
        width: 100%;
       
        object-fit: contain;
        }
    }

}

