.tinto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    padding: 2rem;
    grid-template-areas:
    "img3 texto1 img1"
    "img2 texto2";
    @include section (1100px, 1rem);
    position: relative;
    margin-top: 1rem;
    

}
.tinto__item {
    width: 100%;
}
.titulo {
    @include section (1100px, 1rem);
    color: $fcolor;
}
